.login{
	position:absolute;
	width:100%;
	top:300px;
	display:none;
}
.mainPanel{
	position:absolute;
	width:100%;
	top:200px;
}
.regForm{
	display:none;
	width:100%;
	position:absolute;
	top:150px;
	
}