<?xml version="1.0" encoding="UTF-8"?>  

<!DOCTYPE mapper  
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.job.dao.ManDao">
   <insert id="insertMan" parameterType="com.job.entity.Man" useGeneratedKeys="true" keyProperty="manId" >
   		insert into man(email,password)
   		values
   		(#{email},#{password})
   </insert>
   <delete id="deleteMan" parameterType="INTEGER">
   		delete from man where man_id=#{manId}
   </delete>
   <update id="updateMan" parameterType="com.job.entity.Man">
   		update man 
   		set email=#{email},password=#{password}
   		where man_id=#{manId}
   </update>
   <select id="getMan" parameterType="INTEGER" resultMap="man">
   		select * from man where man_id=#{manId}
   </select>
   
   <select id="getManByEmail" parameterType="STRING" resultMap="man">
   		select * from man where email=#{email}
   </select>
  <!-- 配置映射字段 -->  
    <resultMap type="com.job.entity.Man" id="man">  
        <id property="manId" column="man_id"/>  
        <result property="email" column="email"/>  
        <result property="password" column="password"/>  
    </resultMap>
</mapper>  
